@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
*{
margin: 0;
padding: 0;
font-family: 'PT Sans', sans-serif;
}
ul,li{
    text-decoration: none;
    list-style: none;
}
/* header part start */
#header{
    background: #fcdb00;
    height: 650px;
    padding-top: 25px;
}
/* div#navbarNav {
    display: flex;
    justify-content: end;
}
li.nav-item {
    padding: 0 35px;
}
li.nav-item a {
    color: #000;
    font-weight: 700;
    font-size: 18px;
}
li.nav-item a:hover {
    color: rgb(80, 79, 79);
} */

nav.nav {
    display: flex;
    justify-content: space-between;
}
.menu {
    display: flex;
    align-items: center;
}
.menu a {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    font-family: 'PT Sans', sans-serif;
}
.nav-link {
    margin-left: 30px;
}
/* header part end */


/* slider */
.slider-left{
    padding-right: 100px;
    margin: 80px 0 0 50px;
}
.logo img{
    margin-left: 50px;
}
.slider-left h2{
    color: #000;
    font-weight: 600;
    font-size: 30px;
}
.slider-left h3{
    color: #313841;
    font-weight: 400;
    font-size: 18px;
    width: 80%;
}
.slider-left p{
    color: #313841;
    font-weight: 400;
    font-size: 13px;
    margin: 30px 0 45px 0;
}
.brand-logos img{
    padding-right: 50px;
    margin: 0 -0px;
}
.slider-right {
    text-align: center;
}
.slider-right img{
   width: 300px;
}
/* slider */


/* common-heading */
.common-content{
    margin: 120px 0 90px 0;
    text-align: center;
}
.common-content h2{
    font-size: 30px;
    color: #000;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}
.common-content p{
    font-size: 16px;
    color: #989898;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    margin: 0 250px;
}
/* common-heading */


/* features card */
.features-card{
    display: flex;
    
}
.features-content{
    margin-left: 20px;
}
.features-content h4{
    font-size: 22px;
    color: #000;
    font-family: 'PT Sans', sans-serif;
    font-weight: 500;
}
.features-content p{
    font-size: 13px;
    color: #989898;
    font-family: 'PT Sans', sans-serif;
    font-weight: 400;
    padding: 0 90px 0 0;
    line-height: 18px;
}
.features-logo img{
    width: 30px;
}
/* features card */


/* footer */
#footer{
    background: #010101;
    margin-top: 150px;
}
#footer .common-content h2{
    color: #fcdb00;
}


.input-group {
    width: 50%;
    /* text-align: center; */
    margin: 0 auto;
}
input.form-control.rounded {
    margin-right: 25px;
}
.search{
    margin-bottom: 80px;
}
.search button{
    background: #fcdb00;
    color: #000;
    font-weight: 700;
    font-size: 13px;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    transition: all linear .2s;
}
.search button:hover{
    background: rgb(207, 207, 38);
    transition: all linear .2s;   
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social a{
    margin: 0 15px;
    font-size: 20px;
    display: block;
    line-height: 30px;
    height: 40px;
    width: 40px;
    background: #fcdb00;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    color: #000;
}

.bottom-content{
    margin: 130px 0;
}
.bottom-content h4{
   color: #fff;
   font-weight: 400;
   font-size: 18px;
   line-height: 28px;
   font-family: 'PT Sans', sans-serif;
}
.bottom-content p{
   color: #fff;
   font-weight: 400;
   font-size: 18px;
   font-family: 'PT Sans', sans-serif;
}

.footer-menu ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    font-family: 'PT Sans', sans-serif;
}

/* footer */